#hseBanner::before {
  content: "";
  background: url("../assets/HSEBannerBG.png");
   inset: 0;  
  position: absolute;
  background-size: cover;
  z-index: -1;
}



.fontMon {
  font-family: "Montserrat";
  font-style: normal;
}





@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.hseBannerTitle {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
}

.fontMon {
  font-family: "Montserrat";
  font-style: normal;
}

.hseBannerDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.popins {
  font-family: "Poppins";
  font-style: normal;
}




.marquee {
  display: inline-flex;
  width: max-content;
  white-space: nowrap;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
