.menuNavLinks {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.popins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menuButton {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, * {
  cursor: url('../src//assets/cursor-icon.png') 10 10, auto;
}

.menu-container {
  position: fixed; /* or sticky if you use that */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999 !important; /* IMPORTANT */
}