#serviceBanner::before {
  content: "";
  position: absolute;
  inset: 0;                  /* replaces width/height */
  background: url("../assets/serviceBannerIMG.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}